.navbar {
  height: 58px;
}
.navbar div {
  font-size: 22px;
}

.footer-height {
  height: 60px;
}
.a:visited {
  color: inherit;
  text-decoration: none;
}

.container-fluid {
  flex-grow: 1;
}

.results {
  overflow-y: auto;
}

.condensed {
  margin-bottom: 2px; /* Reduce space between paragraphs */
}
.class-detail h4 {
  margin-top: 10px;
  margin-bottom: 5px; /* Reduce space below headings */
}
.class-detail {
  padding: 2px; /* Reduce padding within each class detail box */
}

.card {
  border-radius: 8px; /* Rounded corners */
}
