.navbar {
  height: 58px;
}
.navbar div {
  font-size: 22px;
}

.footer-height {
  height: 60px;
}
.a:visited {
  color: inherit;
  text-decoration: none;
}

.container-fluid {
  flex-grow: 1;
}

.results {
  overflow-y: auto; 
}
