@media (max-width: 450px) {
  .navbar .btn-outline-light {
    display: none !important;
  }
}

.navbar {
  height: 58px;
}
.navbar div {
  font-size: 22px;
}

.footer-height {
  height: 60px;
}
.a:visited {
  color: inherit;
  text-decoration: none;
}

.container-fluid {
  flex-grow: 1;
}

.results {
  overflow-y: auto;
}

.condensed {
  margin-bottom: 2px;
}
.class-detail h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.class-detail {
  padding: 2px;
}

.card {
  border-radius: 8px;
}
